<header class="page-header">
  <p class="meta-path"><a href="/">minilab.co</a>{{ page.url }}</p>
  <!-- <small class="sigil">minilab:~{{ page.url | default('/') }} $</small> -->
  <!-- TODO: links for sections -->
</header>