<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="/bundle.css">
<script src="/assets/js/main.js" defer></script>
<script defer src="https://cloud.umami.is/script.js" data-website-id="e28f437c-7e92-4049-a866-5bcbb4580d8d"></script>

<!-- TODO Optimize!-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Serif+4:wght@200..900&display=swap&?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet"> -->

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:wght@300..800&family=Lora:wght@400..700&display=block" rel="stylesheet">
