<header class="user-card">
    <img src="{{ user.avatar }}" alt="Portrait photo of {{ user.name }}" class="avatar">
    <p class="name">{{ user.name }}</p>
    <p class="bio">{{ user.bio }}</p>
</header>
