<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    {# Analytics #}
    {% if env.CONTEXT == "production" %}
      <link rel="preconnect" href="https://cloud.umami.is" />
      <script
        defer
        src="https://cloud.umami.is/script.js"
        data-website-id="e28f437c-7e92-4049-a866-5bcbb4580d8d"
      ></script>
    {% endif %}
    
    

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/stylesheets/newnew.css" />
  </head>

  <body>
    <header>
      <p><strong>minilab.co</strong></p>
      <nav>
        <a href="/">Home</a> • <a href="/now/">Now</a> • <a href="/colophon/">Colophon</a> • <a href="/changelog/">Changelog</a>
        <!-- /
        <a href="https://newcss.net/usage/elements/">Elements</a> /
        <a href="https://newcss.net/themes/">Themes</a> /
        <a href="https://github.com/xz/new.css">GitHub</a> /
        <a href="https://discord.gg/hhuuC4w">Discord</a> -->
      </nav>
    </header>

    <main>
      <article>
        {{ content | safe }}
      </article>
    </main>

    <footer>
      <p>&copy; 2025 <a class="logo" href="/">minilab.co</a>. All rights reserved.</p>
      <p>Last updated on <a href="/changelog">October 2025</p>
    </footer>
    <div class="end-gap" aria-hidden="true"></div>
  </body>
</html>
