<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- <link rel="stylesheet" href="/stylesheets/tufte.min.css.css" /> -->
    <!-- <link rel="stylesheet" href="/stylesheets/tufte.min.css" /> -->

    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e28f437c-7e92-4049-a866-5bcbb4580d8d"
    ></script>

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"/> -->
    <link rel="stylesheet" href="/stylesheets/minilab.css"/>
  </head>

  <body>
    <header><a class="logo" href="/">minilab.co</a></header>
    
    <main>
      <article>{{ content | safe }}</article>
    </main>
    
    <footer>
      <p>&copy; 2025 <a class="logo" href="/">minilab.co</a>. All rights reserved.</p>    
      <p>Last updated on October 2025</p>
    </footer>
  </body>
</html>
