<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %}
        {{ title }} - minilab.co
      {% else %}
        minilab.co
      {% endif %}
    </title>
    
    <link rel="canonical" href="https://minilab.co" />
    <meta name="robots" content="index,follow" />
    
    <meta name="description" content="A tiny lab on the internet. An independent initiative for small services, experiments, and ideas. Run by Eduard Giménez." />
    <meta name="keywords" content="minimalist website, personal publishing, digital garden, indie web, static site, eleventy, creative lab, personal blog, microblog, family website, digital home, minilab, eduard gimenez" />
    <meta name="author" content="minilab.co" />
    
    <meta name="theme-color" content="#f6f8fa" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#202021" media="(prefers-color-scheme: dark)" />
    <meta name="color-scheme" content="light dark" />
    
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/styles/newnew.css" />
    
    {# Analytics #}
    {% if env.CONTEXT == "production" %}
      <link rel="preconnect" href="https://cloud.umami.is" />
      <script
        defer
        src="https://cloud.umami.is/script.js"
        data-website-id="e28f437c-7e92-4049-a866-5bcbb4580d8d"
      ></script>
    {% endif %}
  </head>

  <body>
    <header>
      <p class="brand"><a href="/">minilab.co</a>/eduard</p>
      
      <nav>
        <a href="/eduard">Home</a> • <a href="/eduard/now/">Now</a>
      </nav>
    </header>

    <main>
      <article>
        {{ content | safe }}
      </article>
    </main>

    <footer>
      <p>&copy; 2025 <a class="logo" href="/">minilab.co</a>. All rights reserved.<br>
      Last updated on <a href="/changelog">October 2025</a></p>
    </footer>
    <div class="end-gap" aria-hidden="true"></div>
  </body>
</html>
