.l-home {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 2rem;
}

.l-home p {
    margin-bottom: 4vw;
    margin-top: 0rem;
    font-size: 1.5rem;
    line-height: 1.4;
}

.l-home p:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
    /* Styles that apply only to screens 
       600px wide or more */
       .l-home p {
        /*font-size: 4vw;*/
        font-size: 4vw;
        margin-bottom: 4vw;
    }
  }
  
/* Larger size for desktop */
@media screen and (min-width: 768px) {

    .l-home {
        padding: 2rem 2rem 5rem 2rem;
    }

    .l-home p {
        margin-bottom: 3vw;
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1920px) {
    /* Very larger displays */
    .l-home main {
        max-width: 1920px;
        margin: 0 auto;
    }

    .l-home p {
        font-size: 5rem;
    }
}