.l-inner {
    padding: 1.5rem;
}

@media screen and (min-width: 768px) {
    /* Larger size for desktop */
    .l-inner {
        padding: 1.5rem 5rem 5rem 5rem;
    }
}

.l-inner main {
    max-width: 75ch; /* Keeps line length ideal */
    margin: 2rem auto; /* Centers the content */
    padding: 1rem;
}
