* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #0000EE;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FDFDFD;
    color: #333333;
    font-family: Times, serif;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

@media screen and (min-width: 768px) {
    /* Larger size for desktop */
    body {
        padding: 1.5rem 5rem 5rem 5rem;
    }
    
    .home {
        font-size: 3rem;
    }
}

.nav {
    /*padding: 2rem;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    
    display: flex;
    justify-content: start;
    align-items: center;
    /*gap: 4px;*/
    align-self: stretch;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #333333;
    text-decoration: none;
}

.nav a:hover {
    color: #0000EE;
}

.nav a:hover svg path {
    fill: #0000EE;
}

.home p {
    margin-bottom: 2rem;
}

.home p:last-child {
    margin-bottom: 0;
}

::selection {
    background-color: #C6E6FF;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0; /* Start invisible */
    animation: fadeInUp 1.2s ease-out forwards;
}

.user-page {
    max-width: 75rem;
    margin: 0 auto;
}

.align--center {
    text-align: center;
}